@model Quote

@{
  <turbo-frame id="@("quote_" + Model.Id)">
    <form method="post">
      <div class="flex flex-row bg-white my-2 px-2 py-2 items-center shadow-lg rounded-md">
        <a asp-area="Tutorial" asp-page="/QuoteDetail" asp-route-handler="Entity" asp-route-id="@Model.Id" data-turbo-frame="_top"
          class="flex-1 text-sm text-red-500">@Model.Name</a>
        <button type="submit" asp-area="Tutorial" asp-page="/Quotes" asp-route-handler="Delete" asp-route-id="@Model.Id"
              class="p-1.5 border-2 border-gray-200 rounded-md bg-gray-200 hover:bg-gray-300 mr-2">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
          </svg>
        </button>
        <a asp-area="Tutorial" asp-page="/Quote" asp-route-handler="Edit" asp-route-id="@Model.Id"
         class="p-1.5 border-2 border-gray-200 rounded-md bg-gray-200 hover:bg-gray-300">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
          </svg>
        </a>
      </div>
    </form>
  </turbo-frame>
}
