@model HotwiredQuoteEditor.Models.QuoteDate

@{
  <turbo-frame id=@("edit_quote_date_" + @Model.ToString())>
    <div class="flex flex-row my-2 px-2 py-2 items-center">
      <h2 class="flex-1 font-bold">@(Model.Date == null ? null : @Model.Date.Value.ToString("MMMM dd, yyyy"))</h2>
      <form method="post">
        <button type="submit" asp-area="Tutorial" asp-page="/QuoteDetail" asp-route-handler="DeleteDate" asp-route-id="@Model.Parent.Id" asp-route-date="@Model.ToString()"
              class="p-1.5 border-2 border-gray-200 rounded-md bg-gray-200 hover:bg-gray-300 mr-2">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
          </svg>
        </button>
      </form>
      <a asp-area="Tutorial" asp-page="/QuoteDate" asp-page-handler="Edit" asp-route-id="@Model.Parent.Id" asp-route-date="@Model.ToString()"
       class="p-1.5 border-2 border-gray-200 rounded-md bg-gray-200 hover:bg-gray-300">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
        </svg>
      </a>
    </div>
  </turbo-frame>
}
